// sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;


/* 定义主要颜色变量  */
// #6d8fff
$main-color:#409EFF; // 主色
$link-color:#408EFF; // 链接色

// 状态色
$success-color:#5bc536; // 成功状态
$warning-color:#fd9447; // 警告状态
$danger-color:#fc5b5e; // 危险状态

// 文字颜色
$text-title-color:#17233d; // 标题用色
$text-main-color:#606266; // 常规用色
$text-secondary-color:#999; // 次级用色
$text-prompt-color:#ccc; // 提示用色

//线条颜色
$line-block-color:#dddddd; // 板块边界线条颜色
$line-white-block-color:#e6e6e6; // 白色板块分隔线
// 背景颜色
$background-color:#f2f2f2;