.m-business{
  .clear{
    position: relative;
  }
  .empha-title{
    padding: 10px 15px 0;
    font-weight: bold;
    color: red;
    font-size: 15px;
  }
  .url-select{
    padding-left: 15px;
    max-width: 320px;
    .el-input__inner {
      background: #ebf5ff;
      height: 28px;
      line-height: 28px;
      border: 1px solid #ccc;
    }
    .el-input__icon {
      line-height: 26px;
    }
    .el-tag{
      background-color: #fff;
      height: 20px;
      line-height: 20px;
    }
  }
  .b-row{
    position: absolute;
    z-index: 2;
    width: 100%;
    font-size: 12px;
    text-align: center;
    .pl3{
      padding-left: 3px;
    }
    .el-col{
      margin-top: 32px;
      color: #888;
    }
    .c39d{
      color: #39de67;
    }
    .cff4{
      color: #ff421d;
    }
    .c217{
      color: rgb(27,177,217);
      font-size: 14px;
    }
    .go-up{
      border-bottom: 6px solid #39de67;
    }
    .decline{
      border-top: 6px solid #ff421d;
    }
    .trir {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      display: inline-block;
      height: 0;
      margin-left: 5px;
      width: 0;
    }
  }
}